<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">

    <preference for="Praxigento\Core\Lib\Context\IDbAdapter"
                type="Praxigento\Core\Lib\Context\DbAdapter"/>
    <preference for="Psr\Log\LoggerInterface"
                type="Praxigento\Core\Logger"/>

    <type name="Praxigento\Core\Lib\Context\DbAdapter">
        <arguments>
            <argument name="m2Resource" xsi:type="object">Magento\Framework\App\ResourceConnection\Proxy</argument>
        </arguments>
    </type>

</config>
