<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Repos -->
    <preference for="Praxigento\Core\Repo\ISelect"
                type="Praxigento\Core\Repo\Def\Select"/>
    <preference for="Praxigento\Core\Repo\IGeneric"
                type="Praxigento\Core\Repo\Def\Generic"/>
    <preference for="Praxigento\Core\Repo\Transaction\IManager"
                type="\Praxigento\Core\Repo\Def\TransactionManager"/>
    <preference for="Praxigento\Core\Repo\Transaction\IDefinition"
                type="Praxigento\Core\Repo\Def\TransactionDefinition"/>
    <preference for="Praxigento\Core\Repo\Criteria\IAdapter"
                type="Praxigento\Core\Repo\Criteria\Def\Adapter"/>

    <!-- Services -->

    <!-- Tools -->
    <preference for="Praxigento\Core\Tool\IConvert"
                type="Praxigento\Core\Tool\Def\Convert"/>
    <preference for="Praxigento\Core\Tool\IDate"
                type="Praxigento\Core\Tool\Def\Date"/>
    <preference for="Praxigento\Core\Tool\IFormat"
                type="Praxigento\Core\Tool\Def\Format"/>
    <preference for="Praxigento\Core\Tool\IPeriod"
                type="Praxigento\Core\Tool\Def\Period"/>

    <!-- Other -->
    <preference for="Psr\Log\LoggerInterface"
                type="Praxigento\Logging\Logger"/>

</config>
