<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- ******* -->
    <!-- API App -->
    <!-- ******* -->
    <preference for="Praxigento\Core\Api\App\Logger\Main"
                type="Praxigento\Core\App\Logger\Main"/>
    <preference for="Praxigento\Core\Api\App\Repo\Transaction\Fabrica"
                type="Praxigento\Core\App\Repo\Transaction\Fabrica"/>
    <preference for="Praxigento\Core\Api\App\Repo\Transaction\Item"
                type="Praxigento\Core\App\Repo\Transaction\Item"/>
    <preference for="Praxigento\Core\Api\App\Repo\Transaction\Manager"
                type="Praxigento\Core\App\Repo\Transaction\Manager"/>
    <preference for="Praxigento\Core\Api\App\Web\Authenticator\Back"
                type="Praxigento\Core\App\Web\Authenticator\Back"/>
    <preference for="Praxigento\Core\Api\App\Web\Authenticator\Front"
                type="Praxigento\Core\App\Web\Authenticator\Front"/>
    <preference for="Praxigento\Core\Api\App\Web\Authenticator\Rest"
                type="Praxigento\Core\App\Web\Authenticator\Rest"/>

    <!-- ********** -->
    <!-- API Helper -->
    <!-- ********** -->
    <preference for="Praxigento\Core\Api\Helper\Customer\Currency"
                type="Praxigento\Core\Helper\Customer\Currency"/>
    <preference for="Praxigento\Core\Api\Helper\Config"
                type="Praxigento\Core\Helper\Config"/>
    <preference for="Praxigento\Core\Api\Helper\Date"
                type="Praxigento\Core\Helper\Date"/>
    <preference for="Praxigento\Core\Api\Helper\Email"
                type="Praxigento\Core\Helper\Email"/>
    <preference for="Praxigento\Core\Api\Helper\Format"
                type="Praxigento\Core\Helper\Format"/>
    <preference for="Praxigento\Core\Api\Helper\Period"
                type="Praxigento\Core\Helper\Period"/>
    <preference for="Praxigento\Core\Api\Helper\Registry"
                type="Praxigento\Core\Helper\Registry"/>


    <!-- ************ -->
    <!-- API Services -->
    <!-- ************ -->
    <preference for="Praxigento\Core\Api\Service\Customer\Get\ById"
                type="Praxigento\Core\Service\Customer\Get\ById"/>


    <!-- ******* -->
    <!-- API Web -->
    <!-- ******* -->
    <preference for="Praxigento\Core\Api\Web\Customer\Get\ByIdInterface"
                type="Praxigento\Core\Web\Customer\Get\ById"/>
    <preference for="Praxigento\Core\Api\Web\Customer\Search\ByKeyInterface"
                type="Praxigento\Core\Web\Customer\Search\ByKey"/>

    <!-- ********************* -->
    <!-- App related overrides -->
    <!-- ********************* -->
    <type name="Magento\CatalogSearch\Model\Advanced">
        <arguments>
            <argument name="productCollectionFactory" xsi:type="object">Praxigento\Core\App\Magento\CatalogSearch\Model\ResourceModel\Advanced\CollectionFactory</argument>
        </arguments>
    </type>


    <!-- ********************** -->
    <!-- Console (CLI Commands) -->
    <!-- ********************** -->
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="prxgt:app:modules:installed" xsi:type="object">Praxigento\Core\Cli\Modules\Installed</item>
            </argument>
        </arguments>
    </type>


    <!-- ******* -->
    <!-- Plugins -->
    <!-- ******* -->
    <type name="Magento\Framework\Json\DecoderInterface">
        <!-- Cut form key from REST request and add as JSON attribute (MOBI-473). -->
        <plugin name="praxigento_core_plugin"
                type="Praxigento\Core\Plugin\Framework\Json\Decoder"
                sortOrder="100" disabled="false"/>
    </type>
    <type name="Magento\Framework\Mail\Message">
        <!-- Process recipients emails and replace its by parent's or developer's emails. -->
        <plugin name="praxigento_core_plugin"
                type="Praxigento\Core\Plugin\Framework\Mail\Message"
                sortOrder="100" disabled="false"/>
    </type>
    <type name="Magento\Framework\Reflection\MethodsMap">
        <!-- Replace Magento mapper to get full methods map (including annotated) used in DO2JSON conversion. -->
        <plugin name="praxigento_core_plugin"
                type="Praxigento\Core\Plugin\Framework\Reflection\MethodsMap"
                sortOrder="100" disabled="false"/>
    </type>
    <type name="Magento\Framework\Reflection\TypeProcessor">
        <!-- Add "Praxigento\*" namespace to available namespaces for web service schema generation -->
        <plugin name="praxigento_core_plugin"
                type="Praxigento\Core\Plugin\Framework\Reflection\TypeProcessor"
                sortOrder="100" disabled="false"/>
    </type>
    <type name="Magento\Framework\Webapi\Rest\Request\Deserializer\Json">
        <!-- Remove from key from Web API request sent using jQuery.ajax(). -->
        <plugin name="praxigento_core_plugin"
                type="Praxigento\Core\Plugin\Framework\Webapi\Rest\Request\Deserializer\Json"
                sortOrder="100" disabled="false"/>
    </type>
    <type name="Magento\Framework\Webapi\ServiceInputProcessor">
        <!-- Process annotated methods in API data objects -->
        <plugin name="praxigento_core_plugin"
                type="Praxigento\Core\Plugin\Framework\Webapi\ServiceInputProcessor"
                sortOrder="100" disabled="false"/>
    </type>
    <type name="Magento\Framework\Webapi\ServiceOutputProcessor">
        <!-- Process annotated methods in API data objects -->
        <plugin name="praxigento_core_plugin"
                type="Praxigento\Core\Plugin\Framework\Webapi\ServiceOutputProcessor"
                sortOrder="100" disabled="false"/>
    </type>
    <type name="Magento\Webapi\Controller\Rest\InputParamsResolver">
        <!-- Save REST input request into Magento registry -->
        <plugin name="praxigento_core_plugin"
                type="Praxigento\Core\Plugin\Webapi\Controller\Rest\InputParamsResolver"
                sortOrder="100" disabled="false"/>
    </type>


    <!-- ***** -->
    <!-- Repos -->
    <!-- ***** -->
    <preference for="Praxigento\Core\App\Repo\Query\ISelect"
                type="Praxigento\Core\App\Repo\Query\Def\Select"/>
    <preference for="Praxigento\Core\Api\App\Repo\Generic"
                type="Praxigento\Core\App\Repo\Generic"/>
    <preference for="Praxigento\Core\App\Repo\Query\Criteria\IAdapter"
                type="Praxigento\Core\App\Repo\Query\Criteria\Def\Adapter"/>


    <!-- ******** -->
    <!-- REWRITES -->
    <!-- ******** -->
    <preference for="Magento\Framework\Reflection\TypeProcessor"
                type="Praxigento\Core\App\Reflection\TypeProcessor"/>


</config>
