<?xml version="1.0"?>
<config
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="praxigento_mobi" translate="label" sortOrder="099">
            <label>MOBI</label>
        </tab>
        <section id="praxigento_api" translate="label"
                 sortOrder="100"
                 showInDefault="1" showInWebsite="1" showInStore="1">
            <label>API</label>
            <tab>praxigento_mobi</tab>
            <resource>Praxigento_Core::api</resource>
            <group id="authentication" translate="label" type="text"
                    sortOrder="100" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Authentication</label>
                <field id="enabled_dev_mode" translate="label comment tooltip" type="select"
                        sortOrder="100" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable DevMode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Switch on/off development mode for MOBI API Authentication.</comment>
                    <tooltip>Enable Development Mode to use IDs from requests rather then IDs from MOBI authenticator.</tooltip>
                </field>
            </group>
        </section>
        <section id="praxigento_sales" translate="label"
                 sortOrder="200"
                 showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Sales</label>
            <tab>praxigento_mobi</tab>
            <resource>Praxigento_Core::sales</resource>
            <group id="general" translate="label" type="text"
                   sortOrder="100"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
            </group>
        </section>
    </system>
</config>
